bootstrap.log
config.json
credentials.json
run.pid
nohup.out
api.pid
.idea/workspace.xml
save_portfolio_values.log   
*.swp

.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
