/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif; }

body {
  background-color: #212121;
  height: 100%; }

#stock-title {
  text-align: center;
  color: #3ee7ad;
  font-family: 'Assistant', sans-serif;
  margin: 10px 0; }

.Graph {
  margin: 0 auto;
  margin-top: 20px; }

.stock-content {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 300px; }

.Article {
  margin-top: 15px; }
