@import '../../global/css/Global.scss';

#stock-title {
   text-align: center;
   color: $primary-color;
   font-family: 'Assistant', sans-serif;
   margin: 10px 0;
}

.Graph {
   margin: 0 auto;
}

.stock-content {
   width: 800px;
   margin: 0 auto;
   margin-bottom: 300px; // Space for the footer
}

.Article {
   margin-top: 15px;
}
