@import '../../../global/css/Global.scss';

.JoinCreateLeagueBtn {
   text-align: center;
   line-height: 30px;
   font-size: 40px;
   background-color: $bg-color;
   width: 30px;
   height: 30px;
   color: $bg-light-color;
   cursor: pointer;
}

.JoinCreateLeagueBtn:hover {
   color: $primary-color;
}