/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif; }

body {
  background-color: #212121;
  height: 100%; }

.JoinCreateLeagueBtn {
  text-align: center;
  line-height: 30px;
  font-size: 40px;
  background-color: #212121;
  width: 30px;
  height: 30px;
  color: #444444;
  cursor: pointer; }

.JoinCreateLeagueBtn:hover {
  color: #3ee7ad; }
